#navlist {
    background-color: #cfddf9;
    overflow: hidden;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#navlist a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

#navlist a:hover {
    background-color: #95b5f4;
    color: white;
}

.search {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search input[type="text"] {
    padding: 6px;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    border-radius: 4px;
}

.search button {
    padding: 6px 10px;
    background: white;
    color: #95b5f4;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.search button i {
    font-size: 18px;
}

.search button:hover {
    background: #95b5f4;
    color: white;
}

/* Logo and tag styling */
.content {
    text-align: center;
    margin-top: 20px;
}

.content h1 {
    color: green;
}

/* Responsive styling */
@media screen and (max-width: 600px) {
    #navlist {
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        justify-content: flex-start;
        width: 100%;
        margin-top: 10px;
        padding-left: 10px;
    }

    .search input[type="text"] {
        margin-right: 10px;
        width: auto;
    }

    .search button {
        padding: 4px 8px;
    }

    .search button i {
        font-size: 14px;
    }

    #navlist a {
        width: 100%;
        text-align: left;
        padding: 10px 20px;
    }
}